  
  .container {
      margin-top: 80px;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }

  .input_total {
    border: none;
    margin-bottom: 5px;
    font-size: 50px;
    width: 80%;
  }
  
  
  .control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.1);*/
    width: 30%;
    height: auto;
    padding-right: 8%;
    padding-left: 8%;
  }
  
  .control-group button {
    width: 108%;
    border: none;
    background: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    /*transition: all 500ms ease;*/
    }
  
    .control-group button:before {
      top: 0px;
      left: 0px;
      width: 0px;
      height: 42px;
      background: rgba(255,255,255,0.3);
      border-radius: 5px;
      }
  
    .control-group button:hover:before {
        width: 100%;
      }
  
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
     
  .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
  }
  .control--radio .control__indicator {
    border-radius: 50%;
  }
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: #ccc;
  }
  .control input:checked ~ .control__indicator {
    background: #e4ca38;
  }
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: #f6c43a;
  }
  .control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
  }
  .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
  .control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
  }
  .control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
  }
  .select {

    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
  }

  .select button{
    width: 98%;
    
  }

  .select input {
    display: inline-block;
    width: 90%;
    padding: 10px 15px;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .select input::-ms-expand {
    display: none;
  }
  .select input:hover,
  .select input:focus {
    color: #000;
    background: #ccc;
  }
  .select input:disabled {
    opacity: 0.5;

  }

  /* TABLET LAYOUT */
@media only screen and (max-width: 1100px) {

  .container {
    float: left;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .select {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 100%;
  }

  .control-group {
    float: left;
  position: relative;
    vertical-align: top;
    background: #fff;
    text-align: left;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.1);*/
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 50px;
  }

  .select {
    margin-bottom: 15px;
    width: 98%;
  }

}

/* MOBILE LAYOUT */
@media only screen and (max-width: 715px) {

  .input_total {
    width: 100%;
  }

  .container {
    float: left;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    overflow:scroll;
    clear: both;
  }

  .control-group {
    display: block;
    float: left;
    background: #fff;
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.1);*/
    width: 80%;
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  .select button{
    width: 100%;
    
  }

  .control {
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .control input {
    width: auto;
  }

  .select {
    margin-bottom: 15px;
    width: 98%;
  }


}