body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #3b3f44;
  letter-spacing: 1px;
}

/* DESKTOP LAYOUT */
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}


@media only screen and (max-width: 760px) {
  
  header {
    position: absolute;
  }

}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  padding: 16px 10%;
  align-items: center;
}

#logo img {
  width: 100%;
  max-width: 350px;
}

/* NAVIGATION BAR */

#nav-bar ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.nav-link {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  border-top: 2px solid #ddab4c;
  border-bottom: 2px solid #ddab4c;
  padding: 10px 5px;
  transition: 0.3s;
}

.nav-link:hover {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 7px 5px;
  transition: 0.3s;
}

/* HEADER BOTTOM IMAGE */
#header-wave {
  line-height: 0;
}

.header-wave {
  width: 100%;
  height: auto;
}

/* MAIN CONTENT */
#container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 50px;
  margin-top: 180px;
}

#intro {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 3em;
  font-style: italic;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.05em;
}

.join-btn {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  margin: 10px auto;
  padding: 15px 5px;
  width: 185px;
  background-color: #3b3f44;
  border: 2px solid #ddab4c;
  transition: 0.3s;
  text-decoration: none;
}

.join-btn:hover {
  background-color: #3b3f44;
  border: 2px solid #3b3f44;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

/* ABOUT */
#about {
  text-align: center;
  padding-top: 65px;
}

.heading {
  font-size: 2.25em;
  letter-spacing: 1px;
  font-weight: 100;
  border-top: 2px solid #ddab4c;
  width: 200px;
  margin: 50px auto;
  padding: 10px 0;
  margin-bottom: 30px;
  text-align: center;
}

.about-text {
  max-width: 1024px;
  font-size: 1.3em;
  line-height: 1.7em;
  margin: 0 auto;
}

.highlight {
  font-weight: 600;
 /* color: #ddab4c;*/
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 5px 0;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.highlight:hover {
  border-top: 2px solid #ddab4c;
  border-bottom: 2px solid #ddab4c;
  padding: 2px 0;
  transition: 0.3s;
}

/* ICONS */
#icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.icon-div {
  display: inline-block;
  margin: 50px 30px;
  width: 280px;
}

.icon-heading {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.5em;
  color: #ddab4c;
  margin-bottom: 5px;
}

.icon-text {
  font-size: 1em;
}

/* VIDEO */
#video {
  width: 100%;
  height: 100%;
  max-width: 560px;
  min-height: 315px;
  border: 2px solid #ddab4c;
  padding: 3px;
}

/* PRICING */
#pricing {
  padding-top: 65px;
}

.pricing-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pricing-plan {
  list-style: none;
  text-align: center;
  margin: 10px 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  transition: 0.3s;
}

.pricing-plan li:not(.get):not(.pricing-title) {
  padding: 20px 0;
  border-bottom: 2px solid #3b3f44;
  border-left: 2px solid #3b3f44;
  border-right: 2px solid #3b3f44;
}

.pricing-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  padding: 20px 0;
  background-color: #ddab4c;
}

.price {
  font-size: 1.5em;
  color: #fff;
  background-color: #3b3f44;
  padding: 20px 0;
}

.get {
  padding: 20px;
  background-color: #ddab4c;
  transition: 0.3s;
  border: 2px solid #3b3f44;
  border-top: none;
}

.get:hover {
  background-color: #3b3f44;
  transition: 0.3s;
  cursor: pointer;
}

.get-btn {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

/* CONTACT */
#contact {
  padding-top: 50px;
}
.contact-text {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.7em;
}

#form {
  text-align: center;
}

#email {
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  padding: 10px;
  width: 280px;
  border: 2px solid #3b3f44;
  transition: 0.3s;
}

#email:focus {
  border: 2px solid #ddab4c;
  transition: 0.3s;
}

#submit {
  width: 150px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #3b3f44;
  background-color: #ddab4c;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.3s;
}

#submit:hover {
  background-color: #3b3f44;
  cursor: pointer;
  transition: 0.3s;
}

/* FOOTER */
footer {
  float: left;
  position: relative;
  width: 100%;
  margin-top: 50px;
  height: 50px;
  text-align: center;
  background-color: #3b3f44;
  color: #fff;
  margin:0;
}



/* TABLET LAYOUT */
@media only screen and (max-width: 1200px) {
  /* HEADER */
  #header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #logo {
    margin: 0 auto;
    margin-top: 30px;
  }

  /* NAVIGATION BAR */
  #nav-bar ul {
    padding-left: 0;
    min-width: 290px;
  }

  /*MAIN CONTENT */
  #container {
    margin-top: 200px;
  }

  .main-title {
    font-size: 2.5em;
    line-height: 1.2;
  }

  /* ABOUT */
  .heading {
    font-size: 1.7em;
    margin: 50px auto;
    margin-bottom: 5px;
  }

  .about-text {
    font-size: 1.1em;
    margin-bottom: 40px;
  }

  /* ICONS */
  .icon-div {
    margin: 10px;
  }

  /* VIDEO */
  #video {
    margin-top: 30px;
  }

  /* PRICING */
  .pricing-plan {
    margin-bottom: 30px;
  }

  /* CONTACT */
  #contact {
    margin-top: 0;
  }
}

/* MOBILE LAYOUT */
@media only screen and (max-width: 715px) {
  /* MAIN CONTENT */
  #container {
    margin-top: 180px;
  }

  .main-title {
    font-size: 1.8em;
  }

  /* ABOUT */
  .heading {
    font-size: 1.5em;
  }

  .about-text {
    font-size: 1em;
    margin-bottom: 40px;
  }

  /* CONTACT */
  #email {
    width: 70%;
  }
}
