/*@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");*/

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #3b3f44;
}

#planes {
  margin-bottom: 80px;
}

.container-table {
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  align-content: flex-start;
  padding-top: 70px;
  margin-bottom: 80px;
}

.container-table .box {
  background-color: white;
  overflow: hidden;
  border-radius: 50px 0 0 0;
  width: 100%;
  border: 1px solid #3b3f44;
  display: flex;
  flex-direction: column;
  margin: 10px;
  -webkit-box-shadow: 7px 28px 53px -38px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 28px 53px -38px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 28px 53px -38px rgba(0, 0, 0, 0.75);
}

ul {
  padding-inline-start: 50px;
}

.box ul {
  padding-top: 15px;
  list-style: none;
  margin: 0;
}

.box ul li {
  list-style: none;
}

.container-table .recomended {
  border: 5px solid #ddab4c;
  -webkit-box-shadow: 14px 34px 47px -13px rgba(245, 184, 61, 1);
  -moz-box-shadow: 14px 34px 47px -13px rgba(245, 184, 61, 1);
  box-shadow: 14px 34px 47px -13px rgba(245, 184, 61, 1);
}

.box .title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  background: #3b3f44;
  color: #fff;
  border-bottom: 2px dotted #ddab4c;
  font-size: 1.2em;
  display: flex;
  border-radius: 0 0 0 45px;
}

.title-inter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-inter > h2::before {
  font-size: 40px;
  color: #ddab4c;
}
.delta::before {
  content: "Δ ";
}
.omega::before {
  content: "Ω ";
}
.alfa::before {
  content: "α ";
}
.title-inter > h2 {
  margin-left: 50px;
}

.box .ar-price {
  text-align: center;
  font-family: "B612", sans-serif;
  font-weight: bold;
  font-size: 70px;
  background: #3b3f44;
  color: white;
  margin-bottom: auto;
}

.box .ar-price::before {
  font-family: "Quicksand", sans-serif;
  content: "$ ";
  font-size: 25px;
  color: #ddab4c;
}

.box .ar-price::after {
  content: " MXN";
  font-size: 25px;
  color: #ddab4c;
}

.box:hover .ar-price {
  transform: scale(1.1);
  transition: all ease 500ms;
}

.box:hover .title-inter > h2::before {
  color: #3b3f44;
}

.box:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.box:hover .option-input {
  margin-left: 10px;
  margin-top: 10px;
}

.box:hover .title {
  border-radius: 0px;
}

.box:hover .title {
  background: #ddab4c;
  color: white;
}

.box .description {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: 900;
}

/*RESPONSIVE*/
@media only screen and (max-width: 760px) {
  ul {
    padding-inline-start: 20px;
  }

  .container-table .box{
    margin:0;
    margin-top:10px;
    margin-bottom: 10px;
  }

  .container-table {
    flex-wrap: wrap;
    padding-top: 0px;
  }

  .box .ar-price::before {
    font-size: 10px;
  }

  .box .ar-price::after {
    font-size: 10px;
  }

  .box .ar-price {
    font-size: 30px;
  }

  .box .title {
    font-size: 0.8em;
  }

  .option-input {
    height: 60px !important;
    width: 60px !important;
    font-size: 25px !important;
    line-height: 60px !important;
  }
}

/*INPUT CUSTOM*/

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 90px;
  width: 90px;
  transition: all 0.15s ease-out 0s;
  background: #ddab4c;
  color: #fff;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  outline: none;
  z-index: 1;
  margin-left: -10px;
  margin-top: -5px;
  position: absolute;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  line-height: 90px;
}
.option-input:hover {
  background: #ddab4c;
}
.option-input:checked {
  background: #ddab4c;
}
.option-input:checked::before {
  font-family: sans-serif;

  content: "✔";
}

/* .option-input::before {
  height: 90px;
  width: 90px;
  position: absolute;
  font-family: "Catamaran", sans-serif;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  line-height: 90px;
  font-weight: 900;
  color: #3b3f44;
  content: "Ω"; /* You should use \ and not /
} */

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #ddab4c;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

/*READ MORE STATE FOR RESPONSIVE*/

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  transition: 0.25s ease;
  font-weight: 900;
}

.read-more-target::before {
  font-size: 20px;
  content: "✔";
  margin-right: 10px;
  color: #ddab4c;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Ver detalles";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Ocultar detalles";
}

.term {
  color: #3b3f44;
  text-align: center;
  font-size: 16px;
}

.term::before {
  content: "*";
  font-size: 20px;
  color: #ddab4c;
}
