/********************************************************
    Template Name: Matrox
    Created By: TrendyTheme
    Envato Profile: https://themeforest.net/user/trendytheme
    Website: http://trendytheme.net
    Version: 1.4
    Support: http://trendytheme.net/support
*********************************************************/

/*
====================================
[ CSS TABLE CONTENT ]
------------------------------------
    1.0 - General
    2.0 - Typography
    3.0 - Global Style
    4.0 - Color Presets
    5.0 - Overlay css
    6.0 - Hero css
    7.0 - Background Banner
    8.0 - 404 page
    9.0 - Author Wrapper
    10.0 - Progress bar
    11.0 - Clients
    12.0 - Gallery Thumb
    13.0 - Material CSS Customization
    14.0 - Social Icon Animation
    15.0 - device mockup carousel
    16.0 - Search Style
    17.0 - Preloader

-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/

/* Import css files */
@import url("assets/fonts/flaticon/flaticon.css");

/* Google Web Fonts */
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

/* ================= AGREGADOS MARKDEVS ==================== */

.tt-words-wrapper {
  color: #f5b83d;
}

.mk-text {
  color: #f5b83d;
}

.mk-text-dark {
  color: #2b4749;
}

/* ================= General ==================== */

body {
  font-family: "Raleway", sans-serif !important;
  font-size: 15px;
  line-height: 29px;
  font-weight: 500;
  color: #2b4749;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-family: "Raleway", sans-serif !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Link style
/* ------------------------------ */
a {
  color: #f5b83d;
}
a,
a > * {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #f5b83d;
  outline: none;
  text-decoration: none;
}

/* Transition elements
/* ------------------------------ */
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* ================ Typography ================== */

h1,
h2 {
  font-family: "Raleway", sans-serif !important;
  font-weight: 400;
  color: #202020;
  margin: 0 0 15px;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
}

p {
  margin: 0 0 30px;
  line-height: 30px;
}

/* Material Button Style
/* ------------------------------ */
.btn {
  height: 50px;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 2px;
  background-color: #f5b83d; /*brand primary color*/
  border: 0;
}

.btn-lg {
  padding: 12px 38px;
}

/*button size in extra small devices*/
@media screen and (max-width: 767px) {
  .btn-lg {
    height: auto;
    font-size: 14px;
    padding: 8px 25px;
  }
}

.btn:hover {
  background-color: #f5b83d;
}

.btn:active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn.markdevs,
.btn.markdevs:hover,
.btn.markdevs:focus {
  color: white;
  background: #2b4749;
  font-weight: 700;
}

.btn.markdevs-b,
.btn.markdevs-b:hover,
.btn.markdevs-b:focus {
  color: #2b4749;
  font-weight: 900;
}

.btn i.material-icons {
  font-size: 20px;
}

.btn:focus,
.btn:hover {
  color: #fff;
}
.btn:focus,
button:focus {
  outline: none !important;
}

/*Download Button*/

/*Contact Form*/

/* Customize Material Form style 
/* ------------------------------------ */
.input-field {
  margin-top: 45px;
}
.input-field label {
  color: #999;
  top: 2;
  left: 10;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

/* ================= Global Classes ==================== */
.no-margin {
  margin: 0 !important;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.section-padding {
  padding: 110px 0;
}

/*margin top*/
.mt-80 {
  margin-top: 80px;
}

/*margin bottom*/
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}

/*margin right*/
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}

/*margin left*/

/*padding-top*/
.padding-top-160 {
  padding-top: 160px;
}

/*padding-bottom*/

@media screen and (min-width: 992px) {
  /*padding left*/
}

/*padding top bottom*/

/*Margin for small devices*/
@media screen and (max-width: 991px) {
  /*margin top*/

  /*margin-bottom*/
}

/*Border Radious*/

/*Font Family*/

/*Font Size*/

/*font size in extra small devices*/
@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

/*Line Height*/
.text-bold {
  font-weight: 700 !important;
}

/*List Style*/

/*height*/

/* ================= Color Presets ==================== */
.brand-color {
  color: #f5b83d !important; /*theme primary color*/
}
.brand-bg {
  background-color: #f5b83d !important; /*theme primary background color*/
}

.brand-bg-2 {
  background-color: #2b4749 !important; /*theme primary background color*/
}

.brand-bg.darken-2 {
  background-color: #101010 !important;
}

.pink {
  background-color: #ed145b !important;
}
.dark-bg {
  background: #2b4749 !important;
}

/* ================= Pre Defined Overlay ==================== */

/* dark overlay */

/* light overlay */

/*Verticle Aligne Middle for equel height*/
.valign-wrapper {
  display: table;
  width: 100%;
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}

/* ================= Hero Unit ==================== */

.section-title {
  font-size: 40px;
  margin-bottom: 20px;
}
.section-sub {
  margin: 0 auto;
  color: #2b4749;
}
@media (min-width: 992px) {
  .section-sub {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

/*Hero Clouds*/

/*keyframes for cloud*/

/*Mouse animate icon*/

/*Video Introduction*/

/* ================= Banner Background ==================== */
[class*="banner-"] {
  background-size: cover !important;
}
.banner-11 {
  background-image: url("assets/img/banner/banner.webp");
}

@media (min-width: 992px) {
  .bg-fixed {
    background-attachment: fixed;
  }
}

/* ================= 404 Page ==================== */

/*Magnific Popup Close Button*/

/* Onepage*/

/*Author Wrapper*/

/* ================= Progress bar ==================== */

.progress {
  box-shadow: none;
  background-color: #eee;
  height: 5px;
  overflow: visible;
  border-radius: 0;
  margin-bottom: 30px;
}

/*IE Fixing*/

/*Progress Dot Style*/

/* ================= Clients ==================== */

/*
Grid Gutter Style
---------------------------------------------------------------------------*/

/*
Gutter Style
---------------------------------------------------------------------------*/

/*
Gallery Thumb
-----------------------------------------------------*/

/* ====== Food Menu CSS for restaurant and coffee shop ====== */
/*you can remove this css if you not use restaurant demo or coffee shop demo*/

/*Flat Icon Setup*/

/* ================= Material CSS Customization ==================== */

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media only screen and (max-width: 749px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 601px) {
  .container {
    width: 90%;
  }
}

.container .row {
  margin-bottom: 0;
}

.container .row {
  margin-right: -15px;
  margin-left: -15px;
}

/* Button Style In Shortcode Page
/* ---------------------------------- */

/*Equal Height Columns*/

/*TT Animate CSS*/
.tt-animate i {
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.tt-animate i::before {
  speak: none;
  display: block;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

/*Left To Right*/
.tt-animate.ltr i:hover::before {
  -webkit-animation: LeftToRight 0.3s forwards;
  -moz-animation: LeftToRight 0.3s forwards;
  animation: LeftToRight 0.3s forwards;
}

.tt-animate.ltr i:before {
  -webkit-animation: RightToLeft 0.3s forwards;
  -moz-animation: RightToLeft 0.3s forwards;
  animation: RightToLeft 0.3s forwards;
}

/*Right To Left*/
.tt-animate.btt i:hover::before {
  -webkit-animation: BottomToTop 0.3s forwards;
  -moz-animation: BottomToTop 0.3s forwards;
  animation: BottomToTop 0.3s forwards;
}

.tt-animate.btt i:before {
  -webkit-animation: TopToBottom 0.3s forwards;
  -moz-animation: TopToBottom 0.3s forwards;
  animation: TopToBottom 0.3s forwards;
}

/*---------------------------------------------------------
KEY FRAME 
-----------------------------------------------------------*/

/* Left to Right key frame*/

@-webkit-keyframes LeftToRight {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-moz-keyframes LeftToRight {
  49% {
    -moz-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes LeftToRight {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* Right to Left key frame*/

@-webkit-keyframes RightToLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-moz-keyframes RightToLeft {
  49% {
    -webkit-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes RightToLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* Bottom to Top key frame*/

@-webkit-keyframes BottomToTop {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

@-moz-keyframes BottomToTop {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes BottomToTop {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

/* Top to Bottom key frame*/
@-webkit-keyframes TopToBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

@-moz-keyframes TopToBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes TopToBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

/*device-mockup*/

/*screenshot-carousel*/

/* ========== Newsletter Subscription ============== */

/* ================= Preloader ==================== */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 999999;
  text-align: center;
}

#preloader .preloader-position {
  width: 100%;
  margin: 0 auto;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#preloader .progress {
  height: 2px;
  margin: 35px 0;
}
#preloader .progress .indeterminate {
  background: #f5b83d;
}

.ofrecemos {
  color: #f5b83d;
}

.ptb-50 {
  padding: 50px 0;
}


@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}
