/* ----------------------------------------------------------------
Standard blog
-----------------------------------------------------------------*/
.post-wrapper {
	padding: 16px;
	border: 1px solid #eee;
    background-color: #fff;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
    border-radius: 2px;
    margin-bottom: 50px;
}

.grid-blog .post-wrapper {
    margin-bottom: 30px;
}

.post-wrapper:hover {
	border: 1px solid transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/*post thumb wrapper*/
.thumb-wrapper {
	position: relative;
	margin-bottom: 25px;
}
.default-blog .thumb-wrapper::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    width: 100%;
    height: 50%;
    z-index: 1;
}

.thumb-wrapper img {
	width: 100%;
}


/*entry header*/
.default-blog .entry-header {
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 10;
    width: 90%;
}



/*entry title*/
.entry-header .entry-title {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

@media ( max-width: 479px) {
    .entry-header .entry-title {
        font-size: 12px;
        line-height: 15px;
    }
    .default-blog .post-wrapper .author-thumb {
        display: none;
    }
    .default-blog .entry-header .posted-in {
        display: none;
    }

}

.default-blog .entry-header .entry-title a {
    color: #fff;
}
.default-blog .entry-header .entry-title a:hover {
    /*color: #eee;*/
}


/*posted in category*/
.default-blog .entry-header .posted-in a {
    display: inline-block;
    padding: 5px 18px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
}
.default-blog .entry-header .posted-in a:hover {
    background: #fff !important;
}

/*color setting*/
.default-blog .entry-header .posted-in a {
    background: #03a9f4;
}
.default-blog .entry-header .posted-in a:hover {
    color: #03a9f4;
}


/*post comments*/
.default-blog .post-comments-number {
	font-size: 16px;
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 10;
}
.default-blog .post-comments-number a{
	display: inline-block;
	color: #fff;
	margin-left: 5px;
}


/*author thumb*/
.default-blog .post-wrapper .author-thumb{
    position: absolute;
    top: -12px;
    left: -12px;
    border-radius: 50%;
}
.post-wrapper .author-thumb img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
}


/*
Post Format Video
---------------------------------------------------------*/
.post-wrapper a.external-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}
.post-wrapper a.external-link:hover {
    color: #03a9f4;
    background-color: #fff;
}
.post-wrapper a.external-link i{
    padding-left: 4px;
}



/*
Post Format Quote
------------------------------------------------------------*/
.post-wrapper.format-quote {}
.post-wrapper.format-quote .thumb-wrapper {
    background: #03a9f4;
    color: #fff;
    text-align: center;
}
.post-wrapper.format-quote .thumb-wrapper::before {
    display: none;
}
.post-wrapper.format-quote blockquote {
    width: 60%;
    margin: 0 auto;
    border: 0;
    padding: 110px 20px 45px;
    font-size: 20px;
    position: relative;
}
.post-wrapper.format-quote blockquote::before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 40px;
    color: #0697d9;
    position: absolute;
    left: 50%;
    top: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.post-wrapper.format-quote blockquote p {
    margin-bottom: 10px;
}
.post-wrapper.format-quote blockquote footer{
    font-size: 14px;
    line-height: 35px;
    color: #fff;
}

.post-wrapper.format-quote .post-comments-number a:hover,
.post-wrapper.format-quote .post-comments-number a:focus {
    color: #fff;
}



/*
Blog Sidebar
--------------------------------------------------------------*/
.tt-sidebar-wrapper .widget {
    margin-bottom: 50px;
}
.tt-sidebar-wrapper .widget-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}


/*
Widget Search
--------------------------------------------------------------*/
.widget_search .search-form {
    position: relative;
}
.widget_search .search-form button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    height: 60px;
    width: 50px;
    background: transparent;
    border: 0;
}


/*
Common Input Style for Widget
--------------------------------------------------------------*/
.widget input[type=text], 
.widget input[type=password], 
.widget input[type=email], 
.widget input[type=url], 
.widget input[type=time], 
.widget input[type=date], 
.widget input[type=datetime-local], 
.widget input[type=tel], 
.widget input[type=number], 
.widget input[type=search] {
    border: 1px solid #eee;
    height: 60px;
    padding: 6px 20px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
Author Widget
---------------------------------------------------------------*/
.author-info-wrapper {
    border: 1px solid #eee;
}
.author-cover {
    position: relative;
}
.author-cover::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(32, 32, 32, 0.8));
    width: 100%;
    height: 50%;
    z-index: 1;
}
.author-cover img{
    width: 100%;
}
.author-info-wrapper .author-avatar {
    position: relative;
    padding: 15px 20px 30px 130px;
}
.author-info-wrapper .author-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 5px;
    position: absolute;
    top: -30px;
    left: 15px;
    z-index: 20;
}
.author-info-wrapper .author-avatar h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.author-info-wrapper p {
    padding: 0 25px;
    line-height: 25px;
}


.author-social-links ul {
    text-align: center;
    margin-bottom: 20px;
}
.author-social-links ul li a{
    display: block;
    width: 30px;
    height: 30px;
    color: #999;
}
.author-social-links ul li a:hover{
    color: #03a9f4;
}



/*
Popular/Rrecent Post Tab Widget
--------------------------------------------------------*/
.tt-popular-post {
    border: 1px solid #eee;
}
.tt-popular-post .tab-content{
    padding: 30px 20px;
}
.tt-popular-post.border-bottom-tab .nav-tabs>li>a, 
.tt-popular-post.border-bottom-tab .nav-tabs.nav-justified>li>a {
    padding: 17px 30px;
    font-weight: 700;
}

.tt-popular-post .media {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.tt-popular-post .media:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
}
.tt-popular-post .media img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.tt-popular-post .media-body {
    vertical-align: middle;
}
.tt-popular-post .media .media-left {
    padding-right: 15px;
}
.tt-popular-post .media-body h4 {
    font-size: 15px;
    margin-bottom: 0;
}
.tt-popular-post .media-body h4 a{
    color: #999;
}
.tt-popular-post .media-body h4 a:hover{
    color: #03a9f4;
}




/*
Categories Widget
--------------------------------------------------------*/
.widget_categories {
    border: 1px solid #eee;
    padding: 20px;
}

.widget_categories ul li {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.widget_categories ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.widget_categories ul li a{
    display: block;
    color: #999;
}
.widget_categories ul li a:hover{
    color: #03a9f4;
}



/*
Twitter Feed Widget
--------------------------------------------------------*/
.widget_tt_twitter {
    padding: 30px;
    background-color: #55acee;
    color: #fff;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
}
.widget_tt_twitter i {
    display: block;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 35px;
}
.widget_tt_twitter a {
    color: #fff;
    font-weight: 700;
}
.widget_tt_twitter a:hover {
    color: #ed145b;
}

.twitter-widget.owl-theme .owl-dots .owl-dot.active span, 
.twitter-widget.owl-theme .owl-dots .owl-dot:hover span {
    background: #1870b2;
}




/*
Instagram Photo Feed Widget
--------------------------------------------------------*/
.widget_tt_instafeed {
    text-align: center;
    border: 1px solid #eee;
}
.widget_tt_instafeed i{
    font-size: 30px;
    margin-top: 34px;
    margin-bottom: 15px;
    display: block;
}
.widget_tt_instafeed h3{
    font-size: 20px!important;
    text-transform: uppercase;
    margin-bottom: 32px!important;
}
.widget_tt_instafeed img {
    width: 33%;
}




/*
Blog Pagination
-----------------------------------------------------*/

.post-pagination {
    display: block;
}
.post-pagination li {
    display: inline-block;
    padding: 0 5px;
}
.post-pagination>li>a, 
.post-pagination>li>span {
    font-size: 16px;
    padding: 0;
    margin-left: 0;
    color: #202020;
    background: #eee;
    border: 0;
    width: 50px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
}

.post-pagination>li:first-child>a, 
.post-pagination>li:first-child>span,
.post-pagination>li:last-child>a, 
.post-pagination>li:last-child>span {
    border-radius: 50%;
}


.post-pagination>li>a:focus, 
.post-pagination>li>a:hover, 
.post-pagination>li>span:focus, 
.post-pagination>li>span:hover,
.post-pagination>li>span.current {
    color: #fff;
    background-color: #03a9f4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}






/* ----------------------------------------------------------------
Single Blog Post
-----------------------------------------------------------------*/
.single-post .post-wrapper {
    margin-bottom: 30px;
}
.single-post .entry-header .entry-title {
    margin-top: 5px;
    margin-bottom: 12px;
}
.single-post .author-thumb {
    float: left;
    margin-right: 15px;
}
.single-post .entry-header {
    overflow: hidden;
    margin-bottom: 30px;
}
.single-post .author-thumb img{
    padding: 0;
}

.entry-meta li {
    margin-right: 5px;
    font-size: 14px;
}

@media ( max-width: 479px) {
    .entry-header .entry-title {
        font-size: 12px;
        line-height: 15px;
    }
    .entry-meta li {
        margin-right: 2px;
        font-size: 12px;
    }
}

.entry-meta li a {
    color: #999;
}
.entry-meta li a:hover {
    color: #03a9f4;
}
.entry-meta li i {
    margin-right: 5px;
    padding-left: 1px;
}


.entry-footer {
    border-top: 1px solid #eee;
    padding-top: 25px;
    overflow: hidden;
    position: relative;
}
.entry-footer .post-tags {
    float: left;
}
.entry-footer .post-tags i{
    margin-right: 5px;
}
.entry-footer .post-tags a{
    color: #999;
    text-transform: capitalize;
    margin-right: 10px;
}
.entry-footer .post-tags a:hover{
    color: #03a9f4;
}



/*
Post Share Button
--------------------------------------------------*/
.entry-footer .share-post li a{
    display: block;
    color: #999;
}
.entry-footer .share-post li a:hover{
    color: #03a9f4;
}



/*
Single Post Navigation
-----------------------------------------------*/

nav.single-post-navigation {
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    margin-bottom: 30px;
}
nav.single-post-navigation a{
    font-size: 16px;
    color: #999;
    display: block;
    border: 1px solid #eee;
}
nav.single-post-navigation a:hover{
    color: #fff;
    background-color: #F5B83D;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.previous-post-link i,
.next-post-link i {
    height: auto;
}


.previous-post-link i {
    padding-right: 15px;
}
.next-post-link i {
    padding-left: 15px;
}

@media (max-width: 479px){
    nav.single-post-navigation a{
        font-size: 12px;
    }
    .previous-post-link i,
    .next-post-link i {
        display: none;
    }
}


/*
Comments Tab
-------------------------------------------------------*/
.comments-tab .nav-tabs>li>a {
    padding: 17px 30px;
}
.comments-tab .nav-tabs>li>a, 
.comments-tab .nav-tabs.nav-justified>li>a {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
    background: transparent;
}

.comments-tab .nav-tabs>li.active>a, 
.comments-tab .nav-tabs>li.active>a:focus, 
.comments-tab .nav-tabs>li.active>a:hover, 
.comments-tab .nav-tabs.nav-justified>.active>a, 
.comments-tab .nav-tabs.nav-justified>.active>a:focus, 
.comments-tab .nav-tabs.nav-justified>.active>a:hover {
    color: #fff;
    background-color: #03a9f4;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.comments-tab .panel-body {
    padding: 30px 0;
}

@media (max-width: 767px){
    .comments-tab .panel-body {
        padding: 30px;
    }
    .tt-popular-post {
        border: 1px solid transparent;
    }
}


.comments-tab input[type=text], 
.comments-tab input[type=email], 
.comments-tab input[type=url] {
    border: 1px solid #eee;
    height: 60px;
    font-size: 14px;
    padding: 6px 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.comments-tab input[type=text]:focus:not([readonly]), 
.comments-tab input[type=email]:focus:not([readonly]), 
.comments-tab input[type=url]:focus:not([readonly]),  
.comments-tab textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: none;
    border-color: #03a9f4;
}
.comments-tab .form-control {
    box-shadow: none;
    border: 1px solid #eee;
}
.comments-tab .form-control:focus {
    border-color: #03a9f4;
}
.comments-tab textarea {
    padding: 12px;
}

.comments-tab .form-submit {
    text-align: right;
}
.comments-tab .form-submit .btn-lg {
    font-weight: 700;
}




.comment-list .media-left {
    padding-right: 25px;
}
.comment-list .media-left img{
    width: 70px;
    height: 70px;
    border-radius: 3px;
}

.comment-info {
    position: relative;
}
.comment-info h4{
    font-size: 18px;
    color: #ed145b;
    font-weight: 700;
}
.comment-meta {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

@media (max-width: 550px){
    .comment-meta {
        top: 22px;
        right: auto;
        font-size: 10px;
    }
}


.comment-meta a {
    display: inline-block;
    color: #ed145b;
}
.comment-meta a:hover {
    color: #202020;
}
.comment-meta a:last-of-type{
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}
.comment-meta a:last-of-type::before {
    content: "";
    background-color: #ed145b;
    height: 16px;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
}

.comment-list .media-body p{
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}










/*
Latest News Card Style
----------------------------------------------------*/
.b-info h2{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}
.b-info p{
    line-height: 33px;
}
.b-info .btn i{
    margin-right: 10px;
}
.b-info .btn{
    padding: 11px 22px;
    box-shadow: none;
    color: #101010;
    background-color: transparent;
    border: 1px solid #e8e8e8;
}
.b-info .btn:hover,
.b-info .btn:focus {
    background-color: #03a9f4;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.latest-news-card .card {
    margin: 0;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.latest-news-card .card:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.latest-news-card .card .card-content {
    border: 1px solid #e8e8e8;
    border-top: 1px solid transparent;
}
.latest-news-card .card:hover .card-content {
    border: 1px solid transparent;
}
.latest-news-card .card .entry-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    cursor: pointer;
}

.latest-news-card .card-reveal {
    color: #fff;
    padding: 20px;
}

/*change overlay color*/
.latest-news-card .card-reveal.overlay-blue {
    background-color: rgba(3, 169, 244, 0.95);
}
.latest-news-card .card-reveal.overlay-pink {
    background-color: rgba(237, 20, 91, 0.95);
}


.latest-news-card .card-reveal .close-button i{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 14px;
}
.latest-news-card .card-reveal .posted-on {
    display: block;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.latest-news-card .card-reveal .entry-title {
    line-height: 28px;
    margin-bottom: 20px;
}
.latest-news-card .card-reveal .entry-title a{
    color: #fff;
}
.latest-news-card .card-reveal .readmore {
    color: #fff;
    font-weight: 700;
}



.blog-carousel.owl-carousel .owl-item {
    padding: 8px 2px;
}

/*Carousel Control*/
.blog-carousel.owl-theme .owl-controls {
    margin-top: 35px;
}
.blog-carousel.owl-theme .owl-dots .owl-dot.active span, 
.blog-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #03a9f4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


@media (max-width: 991px){
    .b-info,
    .latest-news-card .card {
        margin-bottom: 30px;
    }
}


/*
Latest Featured News Style
----------------------------------------------------*/
.latest-featured-news .post-wrapper{
    padding: 0;
    border: 0;
    margin-bottom: 30px;
}
.latest-featured-news .thumb-wrapper{
    margin: 0;
}
.latest-featured-news .blog-content {
    padding: 16px 16px;
    border: 1px solid #eee;
}
.latest-featured-news .featured-news .blog-content {
    padding: 25px 36px;
}

@media ( max-width: 479px) {
    .latest-featured-news .featured-news .blog-content {
        padding: 25px 20px;
    }
}

.latest-featured-news .post-wrapper:hover .blog-content {
    border: 1px solid transparent;
}

.latest-featured-news .entry-title {
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0;
}
.latest-featured-news .featured-news .entry-title {
    margin-bottom: 12px;
}
.latest-featured-news .entry-title a{
    color: #202020; 
}
.latest-featured-news .entry-title a:hover{
    color: #03a9f4; 
}
.latest-featured-news .blog-content .entry-meta {
    margin-bottom: 18px;
}
.latest-featured-news .blog-content a.readmore {
    font-weight: 500;
    color: #999;
}
.latest-featured-news .blog-content a.readmore:hover {
    color: #03a9f4;
}




/*
Featured List Style
----------------------------------------------------*/
.featured-list-news .post-wrapper {
    padding: 0;
    border: 0;
    margin-bottom: 30px;
}
.featured-list-news .thumb-wrapper{
    margin: 0;
}

.featured-list-news .featured-news .blog-content {
    padding: 25px 36px;
    background-color: #f7f7f7;
}

@media ( max-width: 479px) {
    .featured-list-news .featured-news .blog-content {
        padding: 25px 20px;
    }
}

.featured-list-news .entry-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 5px;
}

.featured-list-news .entry-title a{
    color: #202020; 
}
.featured-list-news .blog-content a.readmore {
    font-weight: 500;
    color: #999;
}
.featured-list-news .entry-title a:hover,
.featured-list-news .blog-content a.readmore:hover {
    color: #03a9f4; 
}

.featured-list-news .blog-content .entry-meta li {
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    border-right: 1px solid #e0e0e0;
    padding-right: 10px;
}
.featured-list-news .blog-content .entry-meta li:last-child {
    border-right: 0;
    padding-right: 0;
}


/*
List Article Common Style
---------------------------------------------------------------*/
.post-wrapper.list-article {
    background-color: #f7f7f7;
    overflow: hidden;
    position: relative;
}
.post-wrapper.list-article .thumb-wrapper {
    float: left;
    z-index: 100;
}

@media (max-width: 479px) {
    .post-wrapper.list-article .thumb-wrapper {
        float: none;
    }
}

.post-wrapper.list-article .blog-content {
    padding: 20px 25px;
    overflow: hidden;
    position: relative;
    z-index: 100;
}
.post-wrapper.list-article .blog-content p{
    margin-bottom: 20px;
}

.post-wrapper.list-article a.readmore{
    font-weight: 500;
    color: #999;
}


.post-wrapper.list-article .hover-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
    -moz-transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
    -ms-transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
    -o-transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
    transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
}

.post-wrapper.list-article:hover .hover-overlay {
    width: 100%;
}

.post-wrapper.list-article:hover,
.post-wrapper.list-article:hover .entry-meta li a,
.post-wrapper.list-article:hover .entry-title a,
.post-wrapper.list-article:hover a.readmore {
    color: #fff;
}





/*
List Blog Style
----------------------------------------------------*/
.list-news .post-wrapper {
    padding: 0;
    border: 0;
    margin-bottom: 30px;
}
.list-news .thumb-wrapper{
    margin: 0;
}
.list-news .entry-header {
    position: relative;
    margin-bottom: 32px;
}
.list-news .entry-header::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: #e040fb;
    position: absolute;
    bottom: -15px;
    left: 0;
}
.post-wrapper.list-article:hover .entry-header::after {
    background-color: #fff;
}

.list-news .entry-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 500;
}

.list-news .entry-title a{
    color: #202020; 
}

.list-news .entry-meta li {
    font-size: 12px;
}

.list-news .blog-content p {
    line-height: 25px;
    margin-bottom: 20px;
}



/*
Full Width List Blog Style
----------------------------------------------------*/
.list-news.full-width-list .blog-content {
    padding: 24px 25px;
}


/*
Grid Blog Style
----------------------------------------------------*/
.grid-news .post-wrapper {
    padding: 0;
    border: 0;
    margin-bottom: 30px;
}
.grid-news .thumb-wrapper{
    margin: 0;
}
.grid-news .blog-content {
    padding: 20px 25px 15px;
    border: 1px solid #eee;
}
.grid-news .post-wrapper:hover .blog-content {
    border: 1px solid transparent;
}
.grid-news .entry-header {
    position: relative;
    margin-bottom: 36px;
}
.grid-news .entry-header::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: #e040fb;
    position: absolute;
    bottom: -16px;
    left: 0;
}
.grid-news .entry-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 500;
}
.grid-news .entry-title a{
    color: #202020; 
}
.grid-news .entry-title a:hover{
    color: #03a9f4; 
}
.grid-news .entry-meta li {
    font-size: 12px;
}
.grid-news .entry-footer {
    margin-left: -20px;
    margin-right: -20px;
    font-size: 13px;
    line-height: 20px;
    padding: 15px 20px 0;
}
.grid-news .entry-footer ul{
    margin-bottom: 0;
}
.grid-news .entry-footer ul li a,
.grid-news .entry-footer a.readmore {
    color: #919191;
}
.grid-news .entry-footer ul li a:hover,
.grid-news .entry-footer a.readmore:hover {
    color: #03a9f4;
}
.grid-news .entry-footer ul li a i{
    margin-right: 5px;
}






/*
Grid News Hover Style
----------------------------------------------------*/
.grid-news-hover .post-wrapper {
    padding: 0;
    border: 0;
    margin-bottom: 30px;
}
.grid-news-hover .thumb-wrapper{
    margin: 0;
}
.grid-news-hover .entry-header{
    margin-bottom: 15px;
}
.grid-news-hover .blog-content {
    padding: 20px 25px 0;
    border: 1px solid #eee;
    position: relative;
    overflow: hidden;
    -webkit-transition: border 0.4s;
    -moz-transition: border 0.4s;
    -ms-transition: border 0.4s;
    transition: border 0.4s;
}
.grid-news-hover .post-wrapper:hover .blog-content {
    border: 1px solid;
    border-color: #00aeef;
}
.grid-news-hover .post-date {
    width: 48px;
    height: 48px;
    background: #ed145b;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 12px;
    left: 12px;
}
.grid-news-hover .post-date span{
    display: block;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
}



.grid-news-hover .entry-title {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: 500;
}
.grid-news-hover .entry-title a{
    color: #202020; 
}

.grid-news-hover .entry-meta li {
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    border-right: 1px solid #e0e0e0;
    padding-right: 10px;
}
.grid-news-hover .entry-meta li:last-child {
    border-right: 0;
    padding-right: 0;
}

.grid-news-hover .entry-header-wrapper,
.grid-news-hover .entry-content {
    position: relative;
    z-index: 2;
}
.grid-news-hover .post-wrapper:hover,
.grid-news-hover .post-wrapper:hover .entry-meta li a,
.grid-news-hover .post-wrapper:hover .entry-title a {
    color: #fff;
}

.grid-news-hover .post-wrapper .hover-overlay {
    position: absolute;
    bottom: -100px;
    left: -100px;
    width: 100px;
    height: 100px;
    z-index: 1;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
    -moz-transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
    -ms-transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
    -o-transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);
    transition: all 0.3s cubic-bezier(0.39,0.575,0.56499,1);

    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0);
}


.grid-news-hover .post-wrapper:hover:hover .hover-overlay {
    left: 0;
    bottom: 0;
    -webkit-transform: scale(15) translateZ(0);
    -moz-transform: scale(15) translateZ(0);
    -ms-transform: scale(15) translateZ(0);
    -o-transform: scale(15) translateZ(0);
    transform: scale(15) translateZ(0);
}

/*Internet Explorar Fixing*/
.ie9 .grid-news-hover .post-wrapper:hover .hover-overlay {
    width: 100%;
    height: 100%;
    border-radius: 0;
}


/*
Grid News Hover Rounded Category Style
----------------------------------------------------*/
.grid-news-hover.rounded-category .blog-content {
    padding: 26px 25px 0;
}
.grid-news-hover.rounded-category .post-wrapper:hover .blog-content {
    border: 1px solid #512da8; /*border color should same with background color*/
}
.grid-news-hover.rounded-category .posted-in a {
    position: absolute;
    left: 50%;
    margin-left: -47px;
    bottom: -13px;
    padding: 0 20px;
    display: inline-block;
    color: #fff;
    background: #e040fb;
    font-size: 11px;
    line-height: 25px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 30px;
    z-index: 100;
}
.grid-news-hover.rounded-category .posted-in a:hover {
    color: #e040fb;
    background-color: #fff;
}
