/* ----------------------------------------------------------------
Portfolio
-----------------------------------------------------------------*/
.portfolio-item {
  float: left;
}

.portfolio-item .thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-item .thumb img {
  width: 100%;
  height: auto;
  display: block;
}

/*
Default Portfolio Hover
-----------------------------------------------------------------*/

.portfolio-wrapper .bg-overlay {
  position: absolute;
  bottom: -200px;
  right: -200px;
  width: 200px;
  height: 200px;
  background-color: rgba(245, 184, 61, 0.7);
  z-index: 1;
  border-radius: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.39, 0.575, 0.56499, 1);
  -moz-transition: all 0.5s cubic-bezier(0.39, 0.575, 0.56499, 1);
  -ms-transition: all 0.5s cubic-bezier(0.39, 0.575, 0.56499, 1);
  -o-transition: all 0.5s cubic-bezier(0.39, 0.575, 0.56499, 1);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.56499, 1);

  -webkit-transform: scale(0) translateZ(0);
  -moz-transform: scale(0) translateZ(0);
  -ms-transform: scale(0) translateZ(0);
  -o-transform: scale(0) translateZ(0);
  transform: scale(0) translateZ(0);
}

.portfolio-wrapper:hover .bg-overlay {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(10) translateZ(0);
  -moz-transform: scale(10) translateZ(0);
  -ms-transform: scale(10) translateZ(0);
  -o-transform: scale(10) translateZ(0);
  transform: scale(10) translateZ(0);
}

/*Internet Explorar Fixing*/
.ie9 .portfolio-wrapper:hover .bg-overlay {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.portfolio-intro .action-btn,
.portfolio-intro h2,
.portfolio-intro p {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 10;
  opacity: 0;
}

.portfolio-intro h2,
.portfolio-intro p {
  -webkit-transform: translate(0%, 100px);
  -moz-transform: translate(0%, 100px);
  -ms-transform: translate(0%, 100px);
  -o-transform: translate(0%, 100px);
  transform: translate(0%, 100px);
}

.portfolio-wrapper:hover .portfolio-intro h2,
.portfolio-wrapper:hover .portfolio-intro p {
  opacity: 1;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.portfolio-wrapper:hover .portfolio-intro .action-btn {
  opacity: 1;
  margin-top: -35px;
  -webkit-transition: 400ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -moz-transition: 400ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -ms-transition: 400ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -o-transition: 400ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: 400ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.portfolio-wrapper:hover .portfolio-intro h2 {
  margin-top: 15px;
  -webkit-transition: 500ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -moz-transition: 500ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -ms-transition: 500ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -o-transition: 500ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: 500ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.portfolio-wrapper:hover .portfolio-intro p {
  margin-top: 40px;
  -webkit-transition: 700ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -moz-transition: 700ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -ms-transition: 700ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -o-transition: 700ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: 700ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.portfolio-intro .action-btn {
  font-size: 26px;
}
.portfolio-intro h2 {
  margin-bottom: 5px;
  text-transform: capitalize;
}
.portfolio-intro p {
  margin-bottom: 0;
  text-transform: capitalize;
}

.portfolio-intro a,
.portfolio-intro a:hover,
.portfolio-intro a:focus {
  text-align: center;
  color: #fff;
}

/*
gutter
---------------------------------------------------------*/
.gutter .portfolio-item {
  padding: 15px;
}

/*
portfolio 2 grid
--------------------------------------------------------*/
.portfolio.col-2 .portfolio-item {
  width: 49.99%;
}

/*
portfolio 3 grid
--------------------------------------------------------*/
.portfolio.col-3 .portfolio-item {
  width: 33.3333333%;
}

/*
portfolio 4 grid
--------------------------------------------------------*/
.portfolio.col-4 .portfolio-item {
  width: 24.98%;
}

/*
portfolio 5 grid
--------------------------------------------------------*/
.portfolio.col-5 .portfolio-item {
  width: 19.99%;
}

/*
portfolio 6 grid
--------------------------------------------------------*/
.portfolio.col-6 .portfolio-item {
  width: 16.666666667%;
}

/*
Portfolio Filter
-------------------------------------------------------*/
.portfolio-filter {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio-filter li {
  display: inline-block;
  color: #202020;
  background-color: #eee;
  padding: 7px 22px;
  margin: 4px;
  border-radius: 2px;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio-filter li:hover,
.portfolio-filter li.active {
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*Preset Color*/
.brand-filter li:hover,
.brand-filter li.active {
  background-color: #f5b83d;
}

/* ----------------------------------------------------------------
Portfolio with title
-----------------------------------------------------------------*/

.portfolio-with-title .portfolio-wrapper {
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.portfolio-with-title .portfolio-wrapper:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.portfolio-with-title .portfolio-wrapper:hover .portfolio-title {
  border: 1px solid transparent;
}

.portfolio-with-title .portfolio-title {
  padding: 20px;
  background: #fff;
  border: 1px solid #eee;
  -webkit-transition: border 0.3s;
  -moz-transition: border 0.3s;
  -ms-transition: border 0.3s;
  transition: border 0.3s;
}

.portfolio-with-title .portfolio-title h2,
.portfolio-with-title .portfolio-title h2 a {
  text-transform: capitalize;
  color: #202020;
  margin-bottom: 5px;
}

.portfolio-with-title .portfolio-title p {
  margin: 0;
  text-transform: capitalize;
}
.portfolio-with-title .portfolio-title p a {
  color: #999;
}

.portfolio-with-title .portfolio-title h2 a:hover,
.portfolio-with-title .portfolio-title p a:hover {
  color: #03a9f4;
}

.portfolio-with-title .portfolio-wrapper:hover .portfolio-intro .action-btn {
  margin-top: -15px;
}

.portfolio-with-title.portfolio-masonry .portfolio-title {
  padding: 15px;
}

.portfolio-with-title.portfolio-masonry.gutter .portfolio-title {
  padding: 15px 0;
}

/* ----------------------------------------------------------------
Portfolio Card Style
-----------------------------------------------------------------*/

.portfolio-item .card .card-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px !important;
  color: #202020;
}
.portfolio-item .card .card-title i {
  color: #03a9f4;
  line-height: 30px;
}
.portfolio-item .card .card-content p a {
  color: #999;
}
.portfolio-item .card .card-content p a:hover {
  color: #03a9f4;
}

.portfolio-item .card .card-reveal {
  padding: 30px;
  background-color: rgba(5, 170, 244, 0.95);
  color: #fff;
}
.portfolio-item .card .card-reveal p {
  line-height: 24px;
}
.portfolio-item .card .card-reveal .card-title {
  color: #fff;
  font-weight: 700;
}
.portfolio-item .card .card-reveal p a,
.portfolio-item .card .card-reveal .card-title i {
  color: #fff;
}

.portfolio-item .card .card-reveal a.readmore {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}

/*
Portfolio Single Page
-------------------------------------------------------------*/
.portfolio-nav a i {
  font-size: 16px;
}
.portfolio-nav a {
  color: #a7a7a7;
  padding: 0 5px;
}

.boot-slider .carousel-control {
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 30px;
  text-shadow: none;
  opacity: 0;
  background-image: none;
  filter: 0;
}

.boot-slider:hover .carousel-control {
  opacity: 1;
}

.boot-slider .carousel-control:hover {
  color: #03a9f4;
  background-color: #fff;
  border: 1px solid transparent;
}

.boot-slider .carousel-control.left {
  left: 30px;
}
.boot-slider .carousel-control.right {
  right: 30px;
}

/*Portfolio Meta*/
.portfolio-meta li {
  margin: 15px 0;
  color: #999;
}
.portfolio-meta li {
  margin: 15px 0;
}
.portfolio-meta li span {
  display: inline-block;
  width: 130px;
  letter-spacing: 1px;
  color: #202020;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.portfolio-meta li a {
  margin-right: 10px;
  color: #a7a7a7;
}
.portfolio-meta li a:hover {
  color: #03a9f4;
}

/* ----------------------------------------------------------------
Flex Slider Customisation for Portfolio
-------------------------------------------------------------------*/
.portfolio-item .flex-control-nav {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  right: 15px;
  width: inherit;
}

.portfolio-item .flex-control-nav li {
  float: left;
  margin: 0 3px;
}

.portfolio-item .flex-control-nav li a {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #fff;
  box-shadow: none;
}

.portfolio-item .flex-control-nav li a.flex-active {
  background-color: #fff;
}

/* ----------------------------------------------------------------
Magnific Popup Customisation for Portfolio
-------------------------------------------------------------------*/
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.75;
}
.mfp-bottom-bar {
  display: none;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-arrow-right::after,
.mfp-arrow-left::after {
  font-family: "FontAwesome", "Arial", sans-serif;
  border: none !important;
  color: #fff;
  font-size: 65px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mfp-arrow-right::after {
  content: "\f105" !important;
}
.mfp-arrow-left::after {
  content: "\f104" !important;
}
.mfp-arrow-right::before,
.mfp-arrow-left::before {
  border: none !important;
}
.mfp-arrow {
  height: 60px;
}
.mfp-arrow::before,
.mfp-arrow::after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  margin-top: 15px;
  top: -1px !important;
}
img.mfp-img {
  padding: 40px 0px 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0.95);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: scale(0.95);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

/*
Responsive Media 
-------------------------------------------------------------*/
@media screen and (max-width: 992px) {
  /*portfolio   grid*/
  .portfolio.col-2 .portfolio-item,
  .portfolio.col-3 .portfolio-item,
  .portfolio.col-4 .portfolio-item,
  .portfolio.col-5 .portfolio-item,
  .portfolio.col-6 .portfolio-item {
    width: 33.3333333%;
    /*width: 50%;*/
  }
}

@media screen and (max-width: 800px) {
  /*portfolio   grid*/
  .portfolio.col-2 .portfolio-item,
  .portfolio.col-3 .portfolio-item,
  .portfolio.col-4 .portfolio-item,
  .portfolio.col-5 .portfolio-item,
  .portfolio.col-6 .portfolio-item {
    /*width: 33.3333333%;*/
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  /*portfolio   grid*/
  .portfolio.col-2 .portfolio-item,
  .portfolio.col-3 .portfolio-item,
  .portfolio.col-4 .portfolio-item,
  .portfolio.col-5 .portfolio-item,
  .portfolio.col-6 .portfolio-item,
  .testimonial.grid-2 li {
    width: 100%;
    /*width: 50%;*/
  }
}
