/*------------------------------------------------------------------
Tab Common CSS
-------------------------------------------------------------------*/

.nav-tabs > li > a,
.nav-tabs.nav-justified > li > a {
  font-weight: 500;
  text-transform: uppercase;
  color: #999;
  margin-right: -1px;
  border: 1px solid #eee;
  border-radius: 0;
  background: #fafafa;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
  cursor: default;
  background-color: #fff;
  border: 1px solid #eee;
  border-bottom-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid #eee;
}

.nav-tabs > li i {
  margin-right: 5px;
}
.nav-tabs > li > a {
  padding: 20px 30px;
}
.nav-tabs > li > a:hover {
  background-color: #fff;
  border-color: #eee #eee #eee;
}
.tab-pane {
  line-height: 30px;
}

/*
Border Bottom Tab
------------------------------------------------------------*/
.border-bottom-tab ul.nav-tabs {
  padding-left: 0;
}
.border-bottom-tab .nav-tabs {
  border-bottom: 1px solid transparent;
}
.border-bottom-tab .nav-tabs > li,
.border-bottom-tab .nav-tabs.nav-justified > li {
  position: relative;
}
.border-bottom-tab .nav-tabs > li::before,
.border-bottom-tab .nav-tabs.nav-justified > li::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
  z-index: 10;
}
.border-bottom-tab .nav-tabs > li:last-child::before,
.border-bottom-tab .nav-tabs.nav-justified > li:last-child::before {
  display: none;
}

.border-bottom-tab .nav-tabs > li > a,
.border-bottom-tab .nav-tabs.nav-justified > li > a {
  color: #bebebe;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 25px 30px;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: 4px solid transparent !important;
  background: none;
}

.border-bottom-tab .nav-tabs > li.active > a,
.border-bottom-tab .nav-tabs > li.active > a:focus,
.border-bottom-tab .nav-tabs > li.active > a:hover,
.border-bottom-tab .nav-tabs.nav-justified > .active > a,
.border-bottom-tab .nav-tabs.nav-justified > .active > a:focus,
.border-bottom-tab .nav-tabs.nav-justified > .active > a:hover {
  color: #202020;
  border-bottom: 4px solid #f5b83d !important;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}

.border-bottom-tab .panel-body {
  padding: 30px 0;
}

.border-bottom-tab .panel-body img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.border-bottom-tab .panel-body img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/*Tab to Accordion*/
@media (max-width: 767px) {
  .border-bottom-tab .panel-body img.alignright,
  .border-bottom-tab .panel-body img.alignleft {
    float: none;
    margin: 0 auto;
    max-width: 100%;
  }
  .border-bottom-tab .panel-body {
    padding: 30px;
  }
}

/*
Border Tabs
------------------------------------------------------------*/

.border-tab .nav-tabs > li {
  position: relative;
}
.border-tab .nav-tabs > li.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.border-tab .nav-tabs > li > a {
  padding: 16px 30px;
}

.border-tab .panel-body {
  padding: 30px 0;
}

@media screen and (max-width: 767px) {
  .border-tab .panel-body {
    padding: 30px;
  }
}

/*Border Background Tab*/
.border-tab.primary-nav .nav-tabs > li > a,
.border-tab.primary-nav .nav-tabs.nav-justified > li > a {
  border: 1px solid transparent;
  background: #03a9f4;
  color: #fff;
}

.border-tab.primary-nav .nav-tabs > li.active::after {
  border-bottom: 3px solid #0072a5;
}

/*Border Transparent Tab*/
.border-tab.transparent-nav .nav-tabs > li > a,
.border-tab.transparent-nav .nav-tabs.nav-justified > li > a {
  background: #fff;
  color: #999;
}

.border-tab.transparent-nav .nav-tabs > li.active::after {
  border-bottom: 3px solid #03a9f4;
}

.border-tab.transparent-nav .nav-tabs > li.active > a,
.border-tab.transparent-nav .nav-tabs > li.active > a:focus,
.border-tab.transparent-nav .nav-tabs > li.active > a:hover,
.border-tab.transparent-nav .nav-tabs.nav-justified > .active > a,
.border-tab.transparent-nav .nav-tabs.nav-justified > .active > a:focus,
.border-tab.transparent-nav .nav-tabs.nav-justified > .active > a:hover {
  color: #f5b83d;
}

/*
Border Box Tab
------------------------------------------------------------*/
.border-box-tab .panel-body {
  padding: 30px 30px 0;
  border: 1px solid #eee;
  margin-top: -1px;
}

.border-box-tab .nav-tabs > li.active > a,
.border-box-tab .nav-tabs > li.active > a:focus,
.border-box-tab .nav-tabs > li.active > a:hover,
.border-box-tab .nav-tabs.nav-justified > .active > a,
.border-box-tab .nav-tabs.nav-justified > .active > a:focus,
.border-box-tab .nav-tabs.nav-justified > .active > a:hover {
  color: #f5b83d;
}

@media screen and (max-width: 767px) {
  .border-box-tab .panel-body {
    border: 1px solid transparent;
  }
}

/*
Icon, Round And Square Tabs
------------------------------------------------------------*/
.icon-tab .nav-pills,
.round-tab .nav-pills,
.square-tab .nav-pills {
  display: inline-block;
}

.icon-tab .nav > li > a {
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 6px;
  background: #f6f6f6;
  color: #03a9f4;
  border: 1px solid #eee;
}
.icon-tab .nav > li > a .material-icons {
  font-size: 40px;
  line-height: 64px;
}

.round-tab .nav-pills > li > a {
  border-radius: 30px;
  border: 1px solid #eee;
  color: #999;
}

.round-tab .nav-pills > li > a:hover,
.round-tab .nav-pills > li.active > a,
.round-tab .nav-pills > li.active > a:focus,
.round-tab .nav-pills > li.active > a:hover,
.square-tab .nav-pills > li > a:hover,
.square-tab .nav-pills > li.active > a,
.square-tab .nav-pills > li.active > a:focus,
.square-tab .nav-pills > li.active > a:hover,
.icon-tab .nav-pills > li.active > a,
.icon-tab .nav-pills > li.active > a:focus,
.icon-tab .nav-pills > li.active > a:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #03a9f4;
}

.icon-tab .nav-pills > li.active > a,
.icon-tab .nav-pills > li.active > a:focus,
.icon-tab .nav-pills > li.active > a:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.round-tab .nav > li > a,
.square-tab .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 25px;
}

.icon-tab .nav-pills > li + li,
.round-tab .nav-pills > li + li,
.square-tab .nav-pills > li + li {
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .icon-tab .nav-pills > li,
  .round-tab .nav-pills > li,
  .square-tab .nav-pills > li {
    margin: 10px !important;
  }
}

.square-tab .nav-pills > li > a {
  border-radius: 0;
  border: 1px solid #eaeaea;
  color: #999;
}

.round-tab .nav-pills > li i,
.square-tab .nav-pills > li i {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .icon-tab img {
    margin: 0 auto;
  }
}

/*
Vertical Tab
------------------------------------------------------------*/
.vertical-tab .panel-body {
  padding: 0;
}

.vertical-tab .nav-tabs > li > a {
  color: #fff;
  margin-right: 0;
  border: 0;
  background: #2b4749;
  text-align: center;
  font-weight: 700;
}

.vertical-tab .nav-tabs > li.active > a,
.vertical-tab .nav-tabs > li.active > a:focus,
.vertical-tab .nav-tabs > li.active > a:hover {
  background-color: #f5b83d;
  color: #2b4749;
  border: 0;
  z-index: 10;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.vertical-tab h2 {
  display: inline-block;
  font-weight: 700;
}
.vertical-tab img.alignright {
  float: right;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .vertical-tab .panel-body {
    padding: 20px;
  }
  .vertical-tab img.alignright,
  .vertical-tab img.alignleft {
    float: none;
    margin: 10px auto 30px;
    max-width: 100%;
    display: block;
  }
  .vertical-tab h2 {
    display: block;
  }
}
