@charset "UTF-8";

@font-face {
  font-family: "social";
  src:url("../fonts/fontastic/social.eot");
  src:url("../fonts/fontastic/social.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontastic/social.woff") format("woff"),
    url("../fonts/fontastic/social.ttf") format("truetype"),
    url("../fonts/fontastic/social.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;

}

[data-icon]:before {
  font-family: "social" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-linkedin:before {
  content: "\62";
}
