 <!--footer 1 start -->
 <footer class="footer footer-one">
    <div class="primary-footer brand-bg-footer">
        <div class="container">
            <a href="#top" class="page-scroll btn-floating btn-large black back-top waves-effect waves-light tt-animate btt" data-section="#top">
              <i class="material-icons">&#xE316;</i>
            </a>

            <div class="row">


                    <div class="col-sm-4 widget">
                            
        
                            <ul class="footer-list">
                                    <li class="mr-20">
                                        <i class="material-icons mr-10">&#xe551;</i>Morelia, Mich.
                                        
                                        <a  href="tel: 44-31-342-552"><i></i>(044) 44-31-342-552
                                        </a>
                                    </li>
                                    <li class="mr-20">
                                            <i class="material-icons mr-10">&#xe551;</i>Jujuy, Argentina.
                                            
                                            <a  href="tel: +54 038 - 815 - 487 - 8686"><i></i>+54 038 - 815 - 487 - 8686
                                            </a>
                                    </li>
                                     <li class="mr-20">
                                           <i class="material-icons mr-10">&#xe551;</i>Cd. de México.
                                            
                                            <a href="tel: 55 8372 - 5506" ><i></i>55 8372 - 5506
                                            </a>
                                    </li>
                            </ul>
                    </div><!-- /.col-md-3 -->

                    <div class="col-sm-4 widget">
                            
        
                            <ul class="footer-list">
                                    <li class="mr-20">
                                        <a href="mailto:ontacto@markdevs.com"><i class="material-icons mr-10">&#xe0be;</i>contacto@markdevs.com
                                        </a>
                                    </li>
                                    <li class="mr-20">
                                            <a href="mailto:martalopez@markdevs.com"><i class="material-icons mr-10">&#xe0be;</i>martalopez@markdevs.com
                                            </a>
                                    </li>
                                     <li class="mr-20">
                                           <a href="mailto:francoarganaraz@markdevs.com"><i class="material-icons mr-10">&#xe0be;</i>francoarganaraz@markdevs.com
                                            </a>
                                    </li>
                            </ul>
                    </div><!-- /.col-md-3 -->

                <div class="col-sm-4 widget clearfix">
                    <ul class="footer-list">
                            <li class="mr-20">
                                <i class="material-icons mr-10">&#xe7ef;</i>Morelia, Mich. México
                                
                            </li>
                            <li class="mr-20">
                                    <i class="material-icons mr-10">&#xe7ef;</i>Jujuy, Argentina
                                    
                            </li>
                             <li class="mr-20">
                                <i class="material-icons mr-10">&#xe7ef;</i>Cd. México 
                                    
                            </li>
                    </ul>
                    
                    <ul class="social-link tt-animate ltr">
                            <li><a aria-label="Facebook Markdevs" href="https://www.facebook.com/markdevs/"><i class="icon icon-facebook"></i></a></li>
                            <li><a aria-label="linkedin Markdevs" href="https://www.linkedin.com/company/28627751/admin/"><i class="icon icon-linkedin"></i></a></li>
                    </ul>
                </div><!-- /.col-md-3 -->

    

              <!--  <div class="col-md-3 widget">
                    <h2 class="white-text">Twitter Feed</h2>

                    <div id="twitterfeed" class="twitter-widget-wrapper">
                        
                    </div>
                </div>-->


              
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.primary-footer -->

    <div class="secondary-footer brand-bg darken-2">
        <div class="container">
            <span class="copy-text">Copyright &copy; 2019 <a href="#">Markdevs</a> &nbsp;  | &nbsp;  Todos los derechos reservados  &nbsp;  | &nbsp; Diseñado por <a href="#">Markdevs S.A. DE C.V.</a></span>
        </div><!-- /.container -->
    </div><!-- /.secondary-footer -->
</footer>
<!--footer 1 end-->