  <!-- Top bar start-->
  <div class="top-bar black visible-md visible-lg">
    <div class="container">
      <div class="row">
        <!-- Social Icon -->
        <div class="col-md-6">
          <!-- Social Icon -->
          <ul class="list-inline social-top tt-animate btt">
            <li><a href="https://www.facebook.com/markdevs/" aria-label="Facebook MarkDevs"><i class="icon icon-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/company/28627751/admin/" aria-label="linkedin MarkDevs" ><i class="icon icon-linkedin"></i></a></li>
          </ul>
        </div>

        <div class="col-md-6 text-right">
          <ul class="topbar-cta no-margin">
            <li class="mr-20">
              <a><i class="material-icons mr-10">&#xE0B9;</i>contacto@markdevs.com</a>
            </li>
            <li>
              <a><i class="material-icons mr-10">&#xE0CD;</i> +01 123 456 78</a>
            </li>
          </ul>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
  <!-- Top bar end-->

    <!--header start-->
    <header id="header" class="tt-nav nav-border-bottom">

        <div class="header-sticky light-header ">

            <div class="container">