<!-- Hero Section -->
<section
  class="banner-11  bg-fixed fullscreen-banner valign-wrapper"
  data-stellar-background-ratio="0.5"
>
  <div class="valign-cell">
    <div class="container padding-top-160">
      <div class="text-center">
        <h2 class="ofrecemos">OFRECEMOS</h2>
        <h1 class="tt-headline clip is-full-width">
          <!-- you can use "rotate-1", "letters type", "letters rotate-2", "letters rotate-3", "letters scale", "loading-bar", "slide", "clip is-full-width", "push" -->
          <!-- <span>We'r </span> -->

          <span class="tt-words-wrapper">
            <b class="is-visible">Páginas Web</b>
            <b>e-commerce</b>
            <b>Sistemas a medida</b>
            <b>Marketing Digital</b>
          </span>
        </h1>
        <a
          href="#servicios"
          class="waves-effect waves-light btn markdevs page-scroll
                      tt-animate btt"
          data-section="#servicios"
        >
          <i class="material-icons left">add</i>
          ¡Conoce más!
        </a>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.valign-cell -->
</section>
<!-- Hero Section End -->
