
<div class="portfolio-container text-center">
  <ul class="portfolio-filter brand-filter">
    <li class="active waves-effect waves-light" data-group="all">Todos</li>
    <li class="waves-effect waves-light" data-group="websites">Páginas Web</li>
    <li class="waves-effect waves-light" data-group="platforms">Plataformas</li>
    <li class="waves-effect waves-light" data-group="apps">Apps</li>
  </ul>

  <div class="portfolio col-3 mtb-50 gutter">
    <!-- remove "gutter" class for no spacing -->

    <div class="portfolio-item" data-groups='["all", "platforms"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>

          <img src="assets/img/portfolio/portfolio-1.jpg" alt="clasificados" />

          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i> </a>
            </div>

            <h2><a href="#">Clasificados</a></h2>
            <p><a href="#">Plataformas</a></p>
          </div>
        </div>
        <!-- thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>
    <!-- /.portfolio-item -->

    <div class="portfolio-item" data-groups='["all", "apps", "websites"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>
          <img src="assets/img/portfolio/portfolio-2.jpg" alt="humo negro" />

          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i> </a>
            </div>
            <h2><a href="#">Humo Negro</a></h2>
            <p><a href="#">Páginas Web</a></p>
          </div>
        </div>
        <!-- thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>
    <!-- /.portfolio-item -->

    <div class="portfolio-item" data-groups='["all", "platforms", "websites"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>
          <img src="assets/img/portfolio/portfolio-3.jpg" alt="red productores" />

          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i> </a>
            </div>
            <h2><a href="#">Red Productores</a></h2>
            <p><a href="#">Plataforma</a></p>
          </div>
        </div>
        <!-- thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>
    <!-- /.portfolio-item -->

    <div class="portfolio-item" data-groups='["all", "websites", "apps"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>
          <img src="assets/img/portfolio/portfolio-4.jpg" alt="taxijuy" />
          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i> </a>
            </div>
            <h2><a href="#">TaxiJuy</a></h2>
            <p><a href="#">Apps</a></p>
          </div>
        </div>
        <!-- thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>
    <!-- /.portfolio-item -->

    <div class="portfolio-item" data-groups='["all", "websites"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>
          <img src="assets/img/portfolio/portfolio-5.jpg" alt="Centro Educactivo" />
          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i> </a>
            </div>
            <h2><a href="#">Centro Educactivo</a></h2>
            <p><a href="#">Páginas Web</a></p>
          </div>
        </div>
        <!-- thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>
    <!-- /.portfolio-item -->

    <div class="portfolio-item" data-groups='["all", "platforms"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>
          <img src="assets/img/portfolio/portfolio-6.jpg" alt="caja de ahorro" />

          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i></a>
            </div>
            <h2><a href="#">Caja de Ahorro</a></h2>
            <p><a href="#">Plataformas</a></p>
          </div>
        </div>
        <!-- /.thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>
    <!-- /.portfolio-item -->

    <div class="portfolio-item" data-groups='["all", "platforms", "apps"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>
          <img src="assets/img/portfolio/portfolio-7.jpg" alt="lector" />
          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i> </a>
            </div>
            <h2><a href="#">Lector Biométrico</a></h2>
            <p><a href="#">Plataformas</a></p>
          </div>
        </div>
        <!-- thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>

    <div class="portfolio-item" data-groups='["all", "websites", "platforms"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>
          <img src="assets/img/portfolio/portfolio-8.jpg" alt="red pyme" />
          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i> </a>
            </div>
            <h2><a href="#">Red PyMe</a></h2>
            <p><a href="#">Página Web</a></p>
          </div>
        </div>
        <!-- thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>

    <div class="portfolio-item" data-groups='["all", "websites"]'>
      <div class="portfolio-wrapper">
        <div class="thumb">
          <div class="bg-overlay"></div>
          <img src="assets/img/portfolio/portfolio-9.jpg" alt="noticias hoy" />
          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="#"> <i class="material-icons white-text">link </i> </a>
            </div>
            <h2><a href="#">Noticias Hoy</a></h2>
            <p><a href="#">Página Web</a></p>
          </div>
        </div>
        <!-- thumb -->
      </div>
      <!-- /.portfolio-wrapper -->
    </div>
  </div>
  <!-- /.portfolio -->
</div>
<!-- portfolio-container -->
