<!-- jQuery -->
<script rel="prefetch" src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.1/js/materialize.min.js"></script>
<script src="assets/js/menuzord.min.js"></script>
<script  src="assets/js/bootstrap-tabcollapse.min.js"></script>
<script  async src="assets/js/jquery.easing.min.js"></script>
<script  async src="assets/js/imagesloaded.min.js"></script>
<script  async src="assets/js/animated-headline.min.js"></script>
<script  async src="assets/js/jquery.sticky.min.js"></script>
<!-- <script async   src="assets/js/smoothscroll.min.js"></script> -->
<script  async src="assets/js/jquery.stellar.min.js"></script>
<script  async src="assets/js/jquery.shuffle.min.js"></script>
<!-- <script  async src="assets/flexSlider/jquery.flexslider-min.js"></script> -->
<!-- <script  async src="assets/magnific-popup/jquery.magnific-popup.min.js"></script> -->
<script   src="assets/js/scripts.js"></script>
    </body>

</html>