<div class="row no-gutter" id="servicios">
  <div class="col-md-3 col-sm-6">
    <a href="/sistemas-a-medida">
      <div class="featured-box brand-bg text-center z-depth-1">
        <div class="featured-wrapper">
          <div class="intro-header">
            <i class="material-icons mk-text-dark">developer_mode</i>
            <h2 class="mk-text-dark">Sistemas a medida</h2>
          </div>

          <div class="content mk-text-dark">
            <p>
              Desarrollo de plataformas y aplicaciones de acuerdo a tus necesidades
            </p>
          </div>
        </div>
        <!-- /.featured-wrapper -->
      </div>
      <!-- /.featured-box  -->
    </a>
  </div>
  <!-- /.col-md-3 -->

  <div class="col-md-3 col-sm-6">
    <a href="/paginas-web">
        <div class="featured-box brand-bg-2 text-center z-depth-1">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons white-text">web</i>
              <h2 class="white-text">Páginas Web</h2>
            </div>
    
            <div class="content white-text">
              <p>
                Dale un plus a tu empresa con su propia página web
              </p>
            </div>
          </div>
          <!-- /.featured-wrapper -->
        </div>
    </a>
    <!-- /.featured-box  -->
  </div>
  <!-- /.col-md-3 -->

  <div class="col-md-3 col-sm-6">
    <a href="/comercio-electronico">
        <div class="featured-box brand-bg text-center z-depth-1">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons mk-text-dark">shopping_basket</i>
              <h2 class="mk-text-dark">Comercio Electrónico</h2>
            </div>
    
            <div class="content mk-text-dark">
              <p>
                Vende tus productos una propia tienda en linea
              </p>
            </div>
          </div>
          <!-- /.featured-wrapper -->
        </div>
    </a>
    <!-- /.featured-box  -->
  </div>
  <!-- /.col-md-3 -->

  <div class="col-md-3 col-sm-6">
    <a href="/marketing-digital">
        <div class="featured-box brand-bg-2 text-center z-depth-1">
          <div class="featured-wrapper">
            <div class="intro-header">
              <i class="material-icons white-text">timeline</i>
              <h2 class="white-text">Marketing Digital</h2>
            </div>
    
            <div class="content white-text">
              <p>
                Centrados en tu rentorno de inversión
              </p>
            </div>
          </div>
          <!-- /.featured-wrapper -->
        </div>
    </a>
    <!-- /.featured-box  -->
  </div>
  <!-- /.col-md-3 -->
</div>
